.style_image_index {
  width: 500px;
  height: 300px;
}

.style_image_show {
  width: 600px;
  height: 400px;
}

.border_style {
  border-style: groove;
  color: #000000;
}

b {
  color: black;
}

.money {
  color: green;
}

.bi-heart-fill {
  color: red;
  font-size: 2em;
}

.bi-heart {
  color: red;
  font-size: 2em;
}