.container
  %h1 Laptops

  = render 'laptop'

  %td
  - if can? :update, laptop
    = link_to 'Edit', edit_laptop_path(laptop)
  %td
  - if can? :destroy, laptop
    = link_to 'Destroy', laptop, method: :delete, data: { confirm: 'Are you sure?' }
  - if can? :create, Laptop
    = link_to 'New laptop', new_laptop_path, class:  "btn btn-dark"