.container
  %h1 Laptops
  .row
  - @laptops.each do |lap|
    .col-sm
      .col-md-10.col-md-offset-1
        = link_to lap.full_name, lap
        %br
        = lap.price
        %b $
    %td
      = link_to 'Edit', edit_laptop_path(lap)
    %td
      = link_to 'Destroy', lap, method: :delete, data: { confirm: 'Are you sure?' }
